/*
Base Styles & Universal Elements
*/

:root {
    /*COLORS*/
    --blue: #206173;
    --blue-alt: #1B515F;
    --dark-orange: #733220;
    --dark-orange-alt: #CC6447;
    --light-gray-alt: #E5E7EB;
    --almost-black: #222328;
    --almost-white: #fefefe;
    
    /*FONTS*/
    --font-primary: 'Noto Sans', sans-serif;

    /*USE CASES*/
    --button-bg: var(--blue);
    --button-bg-state: var(--blue-alt);
    --font-color-base: var(--almost-black);
    --border-radius: 5px;}

html{
    height: 100%;}
    html * {
        box-sizing: border-box;}

body{
    color: var(--almost-black);
    font-family: var(--font-primary);
    font-size: 1.125rem;
    line-height: 1.35;}

.wrap{
    display: block;
    margin: 0 auto;
    width: min(1080px, 90%);}

p{
    margin: 16px 0px;}
    

/*
Site Header
*/

header{
    padding: 20px 0px; 
    background-color: var(--blue);}
    header p{
        margin: 0px;
        color: var(--almost-white);
        font-size: 1.75rem;
        font-weight: 700;}

/*
Site Main
*/

main{
    padding: 150px 0px;}